body, html {
    height: 100%;
}

body, ul, li, p, form, dl, dt, dd, input {
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    color: #328CFA;
}
a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
}

.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clear: both;
}

.clearfix {
    _zoom: 1;
}

.input-text {
    border: 0;
    padding: 4px 8px;
    font-size: 16px;
    background: url(../images/input_bg.png) no-repeat;
}

.input-button {
    border: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 16px;
    background: url(../images/button_bg.png) no-repeat;
    color: #fff;
    overflow: visible;
}

.input-button:hover {
    border: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 16px;
    background: #13a4e7;
    color: #fff;
    overflow: visible;
}
.input-button-disabled {
    border: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 16px;
    background: url(../images/button_disabled_bg.png) no-repeat;
    overflow: visible;
}
.menu1_div{
    width:180px;
    height:40px;
    background: url("../images/btn_bill.gif");
}
.menu1_div:hover{
    background: url("../images/btn_bill_checked.jpg");
}
.menu1_div_checked{
    width:180px;
    height:40px;
    background: url("../images/btn_bill_checked.jpg");
}

.menu2_div{
    width:180px;
    height:40px;
    background: url("../images/btn_suppliers.gif");
}
.menu2_div:hover{
    background: url("../images/btn_suppliers_checked.jpg");
}
.menu2_div_checked{
    width:180px;
    height:40px;
    background: url("../images/btn_suppliers_checked.jpg");
}

.menu3_div{
    width:180px;
    height:40px;
    background: url("../images/btn_users.gif");
}
.menu3_div:hover{
    background: url("../images/btn_users_checked.jpg");
}
.menu3_div_checked{
    width:180px;
    height:40px;
    background: url("../images/btn_users_checked.jpg");
}

.menu4_div{
    width:180px;
    height:40px;
    background: url("../images/btn_history.gif");
}
.menu4_div:hover{
    background: url("../images/btn_history_checked.jpg");
}
.menu4_div_checked{
    width:180px;
    height:40px;
    background: url("../images/btn_history_checked.jpg");
}

.menu5_div{
    width:180px;
    height:40px;
    background: url("../images/btn_exit.gif");
}
.menu5_div:hover{
    background: url("../images/btn_exit_checked.jpg");
}

/* Login */
.blue-style {
    background: #3379b7 url(../images/login_bg.jpg) left top repeat-x;
}

#login {
    width: 950px;
    margin: 0 auto;
    padding-top: 176px;
}

#login .icon {
    float: left;
    background: url(../images/login_icon.jpg);
    width: 322px;
    height: 398px;
    _margin-right: -3px;
}

#login .login-box {
    margin-left: 322px;
    _margin-left: 319px;
    background: url(../images/login_box.jpg);
    width: 612px;
    height: 398px;
}

#login .login-box form {
    padding-top: 180px;
    margin-left: 160px;
    width: 410px;
}

#login .login-box form dl dt {
    float: left;
    width: 70px;
    line-height: 46px;
    height: 46px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

#login .login-box form dl dd {
    margin-left: 70px;
    height: 46px;
}

#login .login-box form dl dd input {
    margin: 10px 0;
    width: 200px;
}

#login .login-box .buttons {
    text-align: right;
    margin-top: 30px;
}

#login .login-box .buttons input {
    margin-left: 26px;
}

/* Frame */
.frame-bd {
    background: url(../images/frame_bg.gif) right top repeat-y;
}

/* Left */
.left-menu {
    list-style: none;
    margin: 0 8px;
}

.left-menu li {
    margin: 10px 0;
}

/* Top */
#header {
    background: url(../images/header_bg.gif);
    height: 100px;
}

#header .title {
    background: url(../images/title.gif);
    width: 383px;
    height: 46px;
    float: left;
    margin: 25px 50px;
}

#header .welcome {
    margin-left: 500px;
    padding-top: 50px;
    font-size: 18px;
    color: #fff;
}

.menu {
    background: url(../images/menu_bg.gif);
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
}

.menu input {
    margin: 5px 0;
    vertical-align: middle;
}

.menu .button {
    border: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 16px;
    background: #92d1f4;
    color: #fff;
    overflow: visible;
}

.content {
    width: 100%;
    background: #92d1f4;
}

.content table {
    width: 100%;
    background: #fff;
}

.content table td {
    padding: 2px 4px;
}

.content table.list td {
    border: 1px solid #666;
    text-align: center;
}

.content table.box td {
    font-size: 16px;
    padding: 10px 0;
}

.content table.box td input.text {
    border: 1px solid #7f9db9;
    padding: 2px 5px;
    width: 250px;
}

.content table.box td textarea {
    border: 1px solid #7f9db9;
    padding: 2px 5px;
    width: 350px;
    height: 80px;
}

.content table.box td.field {
    text-align: right;
    width: 120px;
}

/*input优化*/
.myinput {
    position: relative;
    width: 220px;
    height: 27px;
    border: #999 1px solid;
    border-radius: 0.3em;
    margin-top: -2px;
    overflow: hidden;
    padding-left:5px;
}

#startDate {
    position: relative;
    width: 100px;
    height: 27px;
    border: #999 1px solid;
    border-radius: 0.3em;
    overflow: hidden;
    padding-left: 10px;
}

#endDate {
    position: relative;
    width: 100px;
    height: 27px;
    border: #999 1px solid;
    border-radius: 0.3em;
    overflow: hidden;
    padding-left: 10px;
}

.myselect {
    width: 110px;
    height: 30px;
    border: #999 1px solid;
    border-radius: 0.3em;
    margin-top: -2px;
}

#startTime {
    position: relative;
    width: 100px;
    height: 27px;
    border: #999 1px solid;
    border-radius: 0.3em;
    overflow: hidden;
    padding-left: 10px;
}

#endTime {
    position: relative;
    width: 100px;
    height: 27px;
    border: #999 1px solid;
    border-radius: 0.3em;
    overflow: hidden;
    padding-left: 10px;
}

