<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -jdbc:oracle:thin:@192.168.3.98:1521:orcl-->
        <!--MySql驱动-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--<property name="connection.url">jdbc:mysql://localhost/hibernate</property>-->
        <!--MySql数据库连接字符串-->
        <property name="connection.url">jdbc:mysql://zgamebbs.com/supermarket</property>
        <!--用户名-->
        <property name="connection.username">root</property>
        <!--密码-->
        <property name="connection.password">a10100</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10</property>

        <!-- SQL dialect -->
        <!--指定Sql方言为MySql-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <!--<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!--指定建表方案为更新-->
        <property name="hbm2ddl.auto">update</property>
        <mapping resource="com/supermarket/domains/Oxalis.hbm.xml"/>
        <mapping resource="com/supermarket/domains/User.hbm.xml"/>
        <mapping resource="com/supermarket/domains/Serve.hbm.xml"/>
        <mapping resource="com/supermarket/domains/Logs.hbm.xml"/>

    </session-factory>
</hibernate-configuration>